<!DOCTYPE HTML>
<html>
  <head>
    <title>影像长沙</title>
    <style type="text/css">
      html, body, #basicMap {
          width: 100%;
          height: 90%;
          margin: 0;
      }
    </style>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
      function init() {
        map = new OpenLayers.Map("basicMap");
        var mapnik         = new OpenLayers.Layer.OSM();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(112.9722, 28.1961).transform( fromProjection, toProjection);
        var zoom           = 14; 
 
        map.addLayer(mapnik);
        map.setCenter(position, zoom );
      }
    </script>
  </head>
  <body onload="init();">
    <div id="basicMap"></div> 
 <H1> 你好，可以开始创业了么？ </h1>
  </body>
</html>

